body {
  margin: 20px;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 250px 750px 750px;
  grid-auto-columns: 100px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.a {
  grid-column: 1 / 4;
  grid-row: 1;
}
.b {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
}
.c {
  grid-column: 1;
  grid-row: 2;
}
.d {
  grid-column: 1 / 4;
  grid-row: 8;
}

/* .e {
  grid-column: 3;
  grid-row: 2 / 5;
} */
.f {
  grid-column: 1;
  grid-row: 3;
}
.g {
  grid-column: 1;
  grid-row: 4;
}
.h {
  grid-column: 1;
  grid-row: 5;
}
.i {
  grid-column: 1;
  grid-row: 6;
}
.j {
  grid-column: 1;
  grid-row: 7;
}
.k {
  grid-column: 2;
  grid-row: 5 / 8;
}
.l {
  grid-column: 3;
  grid-row: 5 / 8;
}
.badge {
  padding: 5px 9px 2px;
  font-size: 12.025px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
/* .badge:hover {
          color: #ffffff;
          text-decoration: none;
          cursor: pointer;
        } */
.badge-confirmed {
  background-color: #b94a48;
}
.badge-total {
  background-color: #953b39;
}
.badge-probable {
  background-color: #f89406;
}
.badge-recovered {
  background-color: #00b436;
}
.badge-hospital {
  background-color: #ecc900;
}
.badge-deaths {
  background-color: #000000;
}